@font-face {
    font-family: 'Amsterdam';
    src: url($lib/fonts/Amsterdam.ttf);
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    color: #474942;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url($lib/images/background.png);
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.container-inner {
    padding: 0 2rem;
}

.button {
    background: #ce8169;
    padding: 1rem;
    text-decoration: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Crimson Pro', serif;
    font-weight: bold;
}

h1 {
    font-family: 'Amsterdam', cursive;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

input[type=text] {
    padding: 1rem;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}