@font-face {
    font-family: 'Amsterdam';
    src: url($lib/fonts/Amsterdam.ttf);
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    color: #474942;
}

.background {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background-image: url($lib/images/background.png);
    min-height: 100vh;
    background-size: 120%, 120%;
    overflow: auto;
    animation: animatedBackground 30s linear infinite;
}

.container-inner {
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background: #779888;
    padding: 1rem 2rem;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-family: 'Crimson Pro', serif;
    font-weight: bold;
    border-radius: 10px;
    color: #eae0cd;
    font-weight: bold;
    display: block;
    max-width: 6rem;
    margin: 1rem 0;
}

h1 {
    font-family: 'Amsterdam', cursive;
    font-size: 1.35rem;
    margin-bottom: 0.25rem;
    text-align: center;
    margin-top: 0;
}

input[type=text], input[type=number] {
    padding: 1rem;
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    border: none;
}

input[type=number] {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

ul {
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}


@keyframes animatedBackground {
    0% {
      background-size: 100%, 100%;
       }
    25% {
      background-size: 120%, 120%;
    }

    50% {
        background-size: 150%, 150%;
    }

    75% {
        background-size: 120%, 120%;
    }

    100% {
        background-size: 110%, 110%;
    }
  }